# 1_문자열 인덱싱과 슬라이싱

1) 문자열 인덱싱

문자열에 리스트화 하여 인덱스 번호를 매기는 것.

In [1]:
a="Life is too short, you need python"

In [3]:
a[3]

'e'

In [4]:
a[-1]
#=>파이썬에서 리스트의 인덱스 -1은 뒤에서 부터 세어서 첫번째 라는 뜻

'n'

2) 문자열 슬라이싱

문자열에서 하나 또는 여러문자를 뽑아내는 것.

In [5]:
a="Life is too short, you need python"

In [6]:
b=a[0]+a[1]+a[2]+a[3]

In [7]:
b

'Life'

In [8]:
a[0:4]
# a 문자열에서 0부터 시작하여 4까지의 문자를 뽑아낸다는 의미.

'Life'

- 슬라이싱으로 문자열 나누기

In [9]:
a = "20190801Rainy"

In [10]:
date=a[:8]
# 0부터 시작할 경우 0은 생략가능

In [11]:
weather=a[8:]
# 임의의 시작점부터 문자열 끝까지 출력하는 경우 끝번호 생략가능.

In [12]:
date

'20190801'

In [14]:
weather

'Rainy'

a 문자열을 date 와  weather이라는 두 리스트로 나누어 저장하였다.

3) 문자열 포매팅

문자열 포매팅이란 문자열 안에 어떤 값을 삽입하는 방법이다.

In [16]:
# 1. 숫자 대입
"I eat %d apples." %3

'I eat 3 apples.'

In [18]:
# 2. 문자열 대입
"I eat %s apples." %"five"

'I eat five apples.'

In [19]:
# 숫자 값을 나타내는 변수로 대입
number=3
"I eat %d apples." %number

'I eat 3 apples.'

In [20]:
# 2개 이상의 값 넣기
number=10
day='three'
"I eat %d apples. so I was sick for %s days." %(number, day)

'I eat 10 apples. so I was sick for three days.'

- 문자열 포맷 코드

%s => 문자열:String  
%c => 문자1개 : Chrarater  
%d => 정수 : integer  
%f => 부동소수 : Floating-point  
%o => 8진수   
%x => 16진수  
%% => Literall %(문자 '%' 자체를 문자로 나타내고 싶을 때 사용)

4) 포맷 코드와 숫자 함께 사용하기

- 정렬 과 공백

In [21]:
# 오른쪽 정렬
# 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬 한 후
# 그 앞의 나머지 공백은 남겨두라는 의미
"%10s" %'hi'

'        hi'

- 소수점 표현하기

In [23]:
# 소주점 네 번째 자리까지만 나타내고 싶은 경우 => "오른쪽정렬인자.소수점뒤_숫자개수"
"%0.4f" %3.141592

'3.1416'

In [24]:
"%10.4f" %3.141592

'    3.1416'

- .format() 함수를 이용한 포매팅

In [25]:
# 1. 숫자 대입
"I eat {0} apples." .format(3)

'I eat 3 apples.'

In [26]:
# 2. 문자열 대입
"I eat {0} apples." .format("five")

'I eat five apples.'

In [27]:
# 3. 숫자 값을 가진 변수 대입
number=30
"I eat {0} apples." .format(number)

'I eat 30 apples.'

In [28]:
# 4. 2개 이상의 값 넣기
number=30
day = 'three'
"I eat {0} apples. so I was sick for {1} days." .format(number, day)
# 2개이상의 값으 넣을 경우 answkdufdml {0},{1}과 같은 인덱스 항목이 format 함수의 입력 값으로 순서에 맞게 대입 된다.

'I eat 30 apples. so I was sick for three days.'

In [30]:
# 5. 이름으로 넣기
"I eat {number} apples. so I was sick for {day} days." .format(number=10, day='five')
# { name} 형태로 값을 대입할 경우 format함수에는 반드시 name=value와 같은 형태의 입력값이 있어야 한다.

'I eat 10 apples. so I was sick for five days.'

In [35]:
# 6. format을 이용한 정렬

"{0:<10}" .format("12") # 왼쪽 정렬

'12        '

In [36]:
"{0:>10}" .format("34") # 오른쪽 정렬

'        34'

In [37]:
"{0:^10}" .format("56") # 가운데 정렬

'    56    '

In [38]:
"{0:=<10}" .format("78") # 공백채우기 : 공백을 정렬문자(<,>) 앞에 선언된 기호로 채움

'78========'

In [39]:
"{0:!>10}" .format("90") # 공백채우기 : 공백을 정렬문자(<,>) 앞에 선언된 기호로 채움

'!!!!!!!!90'

In [40]:
# 중괄호 를 문자로 표현하기

"{{and}}".format()

'{and}'

- f 문자열 포매팅 : python 3.6 버전이상 지원

문자열 앞에 f 접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다.  
미리 선언된 변수 값을 참조하여 사용 할 수 있다.

In [41]:
name = '이동민'
age=27
f"나의 이름은 {name} 이다. 나이는 {age}살 입니다."

'나의 이름은 이동민 이다. 나이는 27살 입니다.'

In [43]:
# 딕셔너리로 쉽게 사용하는 법 => 문자열 안에서 {딕셔너리_명['key']}
dic_info={'name':'이동민', 'age':27}
f"나의이름은 {dic_info['name']} 입니다. 나이는 {dic_info['age']}살 입니다"

'나의이름은  이동민 입니다. 나이는 27살 입니다'

In [47]:
# 정렬
f'{"hi":<10}' # 왼쪽 정렬

'hi        '

In [48]:
f'{"hi":>10}' # 오른쪽 정렬

'        hi'

In [49]:
f'{"hi":^10}' # 가운데 정렬

'    hi    '